<template>
    <div class="container-fluid">
        <form v-on:submit="createUser">
            <div class="form-group">
              <label for="add-name">Id</label>
              <input class="form-control" id="add-name" v-model="user.id" required/>
            </div>
            <div class="form-group">
              <label for="add-description">Username</label>
              <textarea class="form-control" id="add-description" rows="10" v-model="user.username"></textarea>
            </div>
            <div class="form-group">
              <label for="add-price">Role</label>
              <input type="number" class="form-control" id="add-price" v-model="user.role"/>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a class="btn btn-default">Cancel</a>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {user: {id: 1, username: 'pedro.picapiedra', role:'ADMIN'}}
        },
        mounted() {
            console.info('mounted addUser');
        },
        methods: {
            createUser() {
                console.info('createUser');
            }
        }
    }
</script>