<template>
    <div class="container-fluid">
        <table v-bind:id="tableId" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th v-for="item in headers">{{item}}</th>
                </tr>
            </thead>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            headers: Array,
            columns: Array,
            rows: Array,
            tableId: String
        },
        mounted() {
            console.log('datatable mounted - columns: ' + JSON.stringify(this.columns));
            this.table = $('#'+this.tableId).DataTable({"columns": this.columns});
        },
        methods: {
            getDatatable() {
                return this.table;
            }
        }
    }
</script>

<style lang="css" scoped>
    
</style>