<template>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="logout"><span class="glyphicon glyphicon-off"></a></li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    mounted() {
        console.log('navbar mounted')
    }
}
</script>


<style lang="css" scoped>
.navbar-right {
    padding-right: 40px;
}
@media (min-width: 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}
}
</style>
