<template>
    <div class="container-fluid">
        <datatable ref="roleDatatable" :tableId="tableId" :headers="roleHeaders" :columns="roleColumns"></datatable>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                roleHeaders: ['id', 'role'],
                roleColumns: [
                        {'data':'id'},
                        {'data':'role'}
                ],
                tableId:"role-table"
            }
        },
        created() {
            this.getRoles();
        },
        methods: {
            getRoles() {
                this.$http.get('roles').then(function(response) {
                    var datatable = this.$refs.roleDatatable.getDatatable();
                    datatable.rows.add(response.data).draw();                    
                }, function(response) {
                    console.log("Error - url: " + response.url + " - statusText: " + response.statusText);
                });
            }
        }
    }
</script>