<template>
    <div class="container-fluid">
        <datatable ref="userDatatable" :tableId="tableId" :headers="userHeaders" :columns="userColumns"></datatable>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                userHeaders: ['id', 'username', 'role'],
                userColumns: [
                        {'data':'id'},
                        {'data':'username'},
                        {'data':'role'}
                ],
                tableId:"user-table"
            }            
        },
        created() {
            this.getUsers();
        },
        methods: {
            getUsers() {
                this.$http.get('users').then(function(response) {
                    var datatable = this.$refs.userDatatable.getDatatable();
                    datatable.rows.add(response.data).draw();                    
                }, function(response) {
                    console.log("Error - url: " + response.url + " - statusText: " + response.statusText);
                });
            }
        }
    }
</script>