<template>
    <div id="wrapper" class="active">
        <sidebar></sidebar>
        <div id="page-content-wrapper">
            <navbar></navbar>
            <a class="btn btn-default" v-on:click="displayView('add-user')">Add Users <span class="glyphicon glyphicon-plus"></span></a>
            <component id="wrapper-datatable" :is="currentView" transition="fade" transition-mode="out-in" keep-alive/>
        </div>
    </div>
</template>

<script>
/*import Vue from "vue";
import VueRouter from "vue-router";
import Users from './components/Users.vue';
import AddUser from './components/AddUser.vue';
Vue.use(VueRouter)

const router = new VueRouter({
  routes: [
    { path: '/add-user', component: AddUser }
  ]
})*/

export default {
    data() {
        return {currentView: 'users'}
    },
    created() {
        this.$eventHub.$on('display-view', this.displayView);
    },    
    methods: {
        displayView(param) {
            this.currentView = param;
        }
    }
}
</script>


<style lang="css" scoped>
.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#wrapper.active {
    padding-left: 150px;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#wrapper-datatable {
    padding-left: 40px;
    padding-right: 40px;
}

.fade-transition {
  transition: opacity 0.2s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}
</style>
